.formContainer {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #fff;
    border: 2px solid #FFC382;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form input:focus {
    outline: none;
    border-color: #FFC382;
}

.btnSubmit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFC382;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btnSubmit:hover {
    background-color: #e6a96d;
}

.btnVolver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFC382;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
}

.btnVolver:hover {
    background-color: #e6a96d;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.loaderGif {
    width: auto;
    height: auto;
}

.switchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #e6a96d;
}

input:checked + .slider::before {
  transform: translateX(22px);
}

input:disabled + .slider {
  background-color: #ddd;
  cursor: not-allowed;
}
